body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    width: Hug (549px)px;    
}

.header-item {
    margin-right: 20px;
}


.header-link {
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #1f1534;
    opacity: 0.6;
    text-transform: uppercase;
}

.header-wrapper {
    background-color: #00BAFC;
    width: Hug (159px)px;
    height: Hug (40px)px;
    top: 8px;
    left: 1041px;
    padding: 8px 16px 8px 16px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
}

/*hero-qism*/

.hero {
    margin-top: 100px;
    display: flex;
    
}

.hero__heading {
    width: 500px;
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.hero__wrapper {
    text-align: center;
    width: 500px;
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.hero-link {
    background-color: #00BAFC;
    color: white;
    width: Hug (159px)px;
    height: Hug (40px)px;
    top: 8px;
    left: 1041px;
    padding: 8px 16px 8px 16px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    text-decoration: none;
}

.hero-right-img {
    margin-left: 400px;
}

/* main qism */

.main-heading {
    margin-top: 100px;  
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;


    
}


.main__sideber {
    width: 1300px;
    height: 576px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.main-box {
    width: 320px    ;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center; 
    border-radius: 5px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}

.main-box:nth-child(5) {
    margin-right: 250px;
}

.main-box:nth-child(4) {
    margin-left: 250px;
}

.main-wrapper-text {
    text-align: center;
    width: 719px;
    height: 48px;
    margin-left: 350px;
}


/*main-wrapper-qism*/

.main__wrapper-heading {
    margin-top: 100px;
    margin-top: 100px;  
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}






.main__wrapper-left {
    display: flex;
    margin-top: 30px;
    margin-left: 200px;
}

.main__wrapper-right {
    margin-top: 100px;
    margin-left: 200px;
}

.main-right-heading {
    /* subsection-title */
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    
}

.main-right-text {
    /* body-text */
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

    /* step-description */
position: static;
width: 493px;
height: 48px;
/* Автолейаут */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}

.main__wrapper-text {
    text-align: center;
    width: 719px;
    height: 48px;
    margin-left: 350px  
}

.main__wrapp {
    display: flex;
}

/*wrapp-qism*/

.wrapp {

    margin-top: 100px;
    text-align: center;
    background: #00BAFC;
}

.wrapp-heading {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;        
}

.wrapp-text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}

.form__input {
    margin-top: 200px;
    margin-top: 30px;
    text-align: center;
    height: 30px;
}

.custom-select {
    text-align: center  ;
}

.input-text {
    margin-top:10px;
    text-align: center;
    width: 300px;
    height: 56px;
    border-radius: 8px;
    border: none;
}

.input-main {
    margin-top: 20px;
    text-align: center;
    width: 300px;
    height: 56px;
    border-radius: 8px;
    border: none;
}
    

.wrapp-select{
    margin-top: 35px;
    width: 313px;
    height: 56px;
    border-radius: 8px;
    border: none;
}


.custom-select {
    margin-top: 10px;
    width: 350px;
    height: 305px;
    margin-left: 550px;
    background-color: white;
    align-items: center;
    border-radius: 7px;
}

.wrapp-color {
    background-color: #00BAFC;
    color: white;
    width: Hug (159px)px;
    height: Hug (40px)px;
  
    left: 1041px;
    padding: 8px 16px 8px 16px;
    gap: 0px;
    border-radius: 5px;
    opacity: px;
    text-decoration: none;
    margin-top: 110px;
}


/*footer-qism*/

.footer {
    display: flex;
    background: #191919;
}

.foorer-heading {
    margin-top: 70px;
    margin-left: 150px;
    color: rgb(255, 255, 255);
}

.footer-text {
    margin-top: 20px;
    margin-left: 150px;
    color: rgb(255, 255, 255);
    width: 320px;
}

.footer-item {
    margin-left: 110px;
    text-decoration: none;
    color: rgb(255, 255, 255) ;
    list-style: none;
}

.foter-img {
    margin-left: 150px;
}

.footer-wrapp {
    width: 100px;
}